* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
}

nav a {
    color: white;
}

small {
    color: red;
}

.alert {
    display: none;
    width: 30%;
}


/* .main {
    background-image: url(../image/./event-planningand-management-1024x683-750x350.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */